{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">Calculo ISRL, El Salvador</h1>
    <p class="lead">Una simple App que te calcula el sueldo mensual a recibir con los descuentos de ley</p>
    <hr class="my-4">
      <form method="POST" action="handle-salary">
        <div class="form-group">
          <label for="salario">Salario</label>
          <input class="form-control" id="salario" name='salario'>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoAfp" id="crecer" value="1" checked>
          <label class="form-check-label" for="crecer">Crecer</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoAfp" id="confia" value="2">
          <label class="form-check-label" for="confia">Confia</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoAfp" id="ipsfa" value="3">
          <label class="form-check-label" for="ipsfa">IPSFA</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoAfp" id="isss" value="4">
          <label class="form-check-label" for="isss">ISSS</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>
      <br>
    {% if result %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Results</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Remuneracion no agrabada AFP {{result[0]}}: </th>
            <td>${{ result[1] }}</td>
          </tr>
          <tr>
            <th scope="row">Remuneracion no agrabada ISSS:</th>
            <td>${{ result[2] }}</td>
          </tr>
          <tr>
            <th scope="row">Remuneracion grabada:</th>
            <td>${{ result[3] }}</td>
          </tr>
          <tr>
            <th scope="row">Porcentaje a aplicar:</th>
            <td>{{ result[4]*100 }}%</td>
          </tr>
          <tr>
            <th scope="row">Sobre el exceso:</th>
            <td>${{ result[5] }}</td>
          </tr>
          <tr>
            <th scope="row">Exceso:</th>
            <td>${{ result[6] }}</td>
          </tr>
          <tr>
            <th scope="row">Retencion mensual:</th>
            <td>${{ result[8] }}</td>
          </tr>
          <tr>
            <th scope="row">Descuento total mensual:</th>
            <td>${{ result[9] }}</td>
          </tr>
          <tr>
            <th scope="row">Sueldo neto a recibir mensual:</th>
            <td>${{ result[10] }}</td>
          </tr>
        </tbody>
      </table>
    <h3>Salario ${{ result[9] + result[10] }}</h3>
    <h3>Descuentos totales al mes del salario  ${{result[9]}}</h3>
    <h3>Salario despues de descuentos ${{result[10]}}</h3>
    <h3>Salario quincenal ${{ result[10]/2 }}</h3>
    </div>
    {% endif %}
    </div>
{% endblock %}
