{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">Calculo ISRL, El Salvador</h1>
    <p class="lead">Una simple App que te calcula el sueldo mensual a recibir con los descuentos de ley</p>
    <hr class="my-4">
      <form method="POST" action='/'>
        <div class="form-group">
          <label for="salario">Salario</label>
          <input class="form-control" id="salario" name='salario'>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoAfp" id="crecer" value="1" checked>
          <label class="form-check-label" for="crecer">Confia</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoAfp" id="confia" value="2">
          <label class="form-check-label" for="confia">Confia</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoAfp" id="ipsfa" value="3">
          <label class="form-check-label" for="ipsfa">IPSFA</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoAfp" id="isss" value="4">
          <label class="form-check-label" for="isss">ISSS</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>
      <br>
    <!--Table for the results-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Results</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Remuneracion no agrabada AFP</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Remuneracion no agrabada ISSS</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Remuneracion grabada</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
{% endblock %}
